html, body {
    min-height: 100%;
}

body {
    font-family: "Droid Sans", sans-serif;
    font-size: 12px;
    font-weight: 300;
    background: #707070 noise($opacity: 0.08, $amount: 0.9, $monochrome: true);
    color: #444;
}

a {
    color: #fff;
    text-decoration: none;
}

h1, h2 {
    font-family: "Droid Serif", serif;
    font-size: 32px;
    margin-bottom: 16px;
    color: #444;
    font-weight: bold;
    @include text-shadow(
        rgba(255,255,255,0.2) 0 1px,
        rgba(0,0,0,0.7) 0 -1px
    );
}
