#toc {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 240px;
    padding: 24px 16px;
    @include box-sizing(border-box);
    
    h1 {
        font-size: 20px;
        margin-bottom: 12px;
    }
    
    ul {
        margin-bottom: 24px;
        
        li {
            font-size: 12px;
            @include text-shadow(rgba(0,0,0,0.5) 0 1px 0);
            margin-bottom: 6px;
            position: relative;
        }
    }
    
    a {
        display: block;
        @include transition(color -webkit-transform, .4s);
        
        &.selected, &:hover {
            color: #AAA;
        }
        
        &.selected {
            @include translateX(10px);
        }
    }
}
