#toc {
    @include float(left);
    width: 280px;
    padding: 24px 16px;
    margin-right: 24px;
    @include box-sizing(border-box);
    
    @mixin sunken {
        @include background(
            linear-gradient(top, rgba(255,255,255,0.4), rgba(255,255,255,0))
        );
        background-color: rgba(255,255,255,0.1);
        @include box-shadow(
            rgba(0,0,0,0.6) 0 -1px 0,
            rgba(255,255,255,0.4) 0 1px 0,
            rgba(0,0,0,0.3) 0 1px 4px inset
        );
    }
    
    h1 {
        margin-bottom: 32px;
        padding: 12px;
        @include sunken;
        @include border-radius(40px);
        text-align: center;
        
        .version {
            font-family: "Droid Sans", sans-serif;
            font-weight: normal;
            font-size: 24px;
            color: #777;
        }
    }
    
    h2 {
        font-size: 20px;
        margin-bottom: 12px;
    }
    
    ul {
        margin-bottom: 24px;
        
        li {
            font-size: 12px;
            @include text-shadow(rgba(0,0,0,0.5) 0 1px 0);
            position: relative;
        }
    }
    
    a {
        display: block;
        padding: 4px 12px;
        
        &:hover {
            color: #AAA;
        }
        
        &.selected {
            color: #FFF !important;
            @include text-shadow(rgba(0,0,0,0.5) 0 -1px);
            @include border-radius(10px);
            @include sunken;
        }
    }
}
