@mixin navigationbar($background-color: #6d84a2) {
    height: 44px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    @include box-sizing(border-box);
    @include background(linear-gradient(
        top,
        rgba(white,.6),
        rgba(white,.4) 1/44,
        rgba(white,.2) .5,
        rgba(white,.15) .5,
        rgba(white,0) 42/44, // why does 43 not work?
        rgba(black,.4)
    ));
    background-color: $background-color;
    text-align: center;
    line-height: 44px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    @include text-shadow(rgba(black,.5) 0 -1px);
}

@mixin has-navigationbar {
    padding-top: 44px;
}

